.first_body {
    height: 100vh;
    font-family: Arial, sans-serif;
    background: linear-gradient(rgb(255, 255, 255), rgb(126, 105, 165));
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    /*padding: 50px;*/
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 50px;
}

.first_header{
    margin-top: -50%;
    height: 200px;
}

.second_header{
    margin-top: -20%;
    position: relative;
    left: 42px;
}

.btn {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.button{
    width: 100%;
    padding: 10px;
    background-color: #4b4a66;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    
}

.rbtn {
    width: 100%;
    padding: 10px;
    background-color: #4b4a66;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(197, 81, 46, 0.4);
}

button:active {
    transform: translateY(0);
}

.input {
    padding: 8px;
    height: 2px;
    width: 20vh;
}

.input:hover{
    transform: rotateY(-10px);
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.4);
}

input::placeholder{
    color: #999;
    font-style: italic;
    font-size: 0.9em;
    opacity: 1;
    text-align: center;   
}

.second_body{
    height: 100vh;
    font-family: Arial, sans-serif;
    background: linear-gradient(rgb(255, 255, 255), rgb(126, 105, 165));
    /* background-repeat: no-repeat;*/
    display: flex;
    flex-direction: column;
    /*padding: 50px;*/
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 50px;
}

.table{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    width: 50%;
    /* border: 1px solid #ccc; */
    padding: 10px;
    border-collapse: separate; 
    border-spacing: 0 10px; 
    position: relative; 
    bottom: 20px; 
    /* margin-bottom: 500px;  */
    word-spacing: 4px;
    top: 30px;
    bottom: 30px;
    border-radius: 10px;
    border: 2px solid black;
}

td {
    text-align: center;
}

.tc {
    text-align: center;
    align-content: center;
    /* position: relative; */
    /* left: 400px; */
    /* border: 2px solid rgb(67, 68, 117); */
    /* width: 200px; */
    border-radius: 10px;
    transform: rotateY(-10px);
    
}

.tc:hover{
    transform: rotateY(-10px);
    box-shadow: 0 5px 15px rgba(79, 46, 197, 0.4);
}

td {
    transform: rotateY(-10px);
    border: 2px solid black;
    border-radius: 10px;
}

td:hover{
    transform: rotateY(-10px);
    box-shadow: 0 5px 15px rgba(253, 253, 253, 0.4); 
    background-color: aqua;
}

.input {
    display: flex;
    flex-direction: column;
    
}