.all{
    background-color: rgb(168, 89, 116);
    color: azure;
}
h1{
  text-align: center;
}

.quote{
text-align: center;
}

.p_box{
    margin: 0;
    font-size: 8px;
    padding: 2px;
    
}

.headers{
    color: rgb(210, 231, 231);
    
    /* position: relative;
    left: 320px; */
    a
}